@use "../../Settings/scss/functions.scss";
.loader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fff; 
  @include functions.flex(center);
  z-index: 9999999999999;
}
