@use "../../Settings/scss/functions.scss";
.tovar__page {
  margin-top: 1.5rem;
  min-height: 80vh !important;
}
.main__tovar_page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-position: calc(0%) calc(20%);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset -21px -61px 58px rgba(0, 0, 0, 0.386);
}
.main_tovar__btns {
  position: absolute;
  bottom: 0rem;
  z-index: 1;
  padding: 1rem;
  left: 2rem;
  @include functions.flex(flex-start);
  align-items: center;
}
.main_tovar__btns input {
  margin: 0 1rem;
  border-radius: 50%;
  height: 58px;
  background: transparent;
  border: 1px solid black;
  color: #fff;
  font-size: 20px;
  padding: 1.5rem;
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;
  filter: invert(1);
}
.main_tovar__btns button:not(:first-child) {
  border-radius: 50%;
  padding: 1rem 1.5rem;
  background: transparent;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
}
.main__active{
    height: 70vh !important;
}
.send__links{
  width: 100%;
  padding: 1rem 0rem;
  @include functions.flex(space-around)
} 
.send__links button{
  background: #fd0;
  padding: 1rem;
  border-radius: 50%;
  font-size: 28px;
}
.send__links button:nth-child(1){
  color: crimson;
}
.send__links button:nth-child(2){
  color: rgb(0, 90, 90);
}