@mixin flex($justify-content){
    display: flex;
    align-items: center;
    justify-content: $justify-content;
}
@mixin grid($row, $rowsCount, $col, $columnCount){
    display: grid;
    grid-template: repeat($row, $rowsCount) / repeat($col, $columnCount) ;
    
}