.like__tovars{
    display: grid;
    grid-template: repeat(1, auto) / repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 1rem;
}
.like__tovars .slide{
    width: 100%;
}
.like__search_select{
    padding: 0.5rem 1rem;
    background: #fff;
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: 1px;
}
.like__search_select option{
    padding: 0.4rem !important;
}