@use "./Settings/scss/functions.scss";
@font-face {
  font-display: swap; 
  font-family: "Akatab-regular";
  font-style: normal;
  font-weight: 400;
  src: url("./Settings/assets/fonts/akatab-v7-latin_latin-ext_tifinagh-regular.woff2") format("woff2"); 
}

@font-face {
  font-display: swap; 
  font-family: "Akatab-medium";
  font-style: normal;
  font-weight: 600;
  src: url("./Settings/assets/fonts/akatab-v7-latin_latin-ext_tifinagh-600.woff2") format("woff2"); 
}
@font-face {
  font-display: swap; 
  font-family: "Akatab-bold";
  font-style: normal;
  font-weight: 900;
  src: url("./Settings/assets/fonts/akatab-v7-latin_latin-ext_tifinagh-900.woff2") format("woff2"); 
}
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #f9f9f9;
}
.main {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0 ;
  z-index: -1 !important; 
}
.main--animation::before{
  content: " ";
  width: 100%;
  display: block;
  position: absolute;
  height: 100%;
  background-size: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-image:  linear-gradient(to bottom right,#fd0 40%,#fd0 50%, #fd0 30%, #fd0,) ;
  transform: skewX(-60deg)  ;
  z-index: -1;
  animation-name: animationMainBar;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function:ease;
}
.main h1{
  margin: 0;
  padding: 0;
}
@keyframes  animationMainBar {
    from{
      transform: skewX(-50deg);
    }
    to{
      transform: skewX(-60deg);
    }
}
.carousel{
  margin: 3rem 0rem;
}
.slider{
  padding: 2rem 0rem !important;
}
.slide {
  height: 100% !important;
  border-radius: 10px;  
  transition: 0.5s ease all;
}
.slide .slide__body{
  position: relative;
  height: 100%;
  min-height: 495px;
}

.slide  .slide__image_box img{
  position: absolute;
  border-radius: 10px;
}
.slide .slide__body .slide__footer{
  position: absolute;
  z-index: 2;
  padding: 1rem;
  bottom: 0;
  width: 100%; 
  @include functions.flex(flex-end);
}
.slide__footer .slide__discription{
  position: absolute;
  padding: 1rem;
}
.slide__footer .slide__discription p{
  padding: 0;
  font-size: 20px;
  color:  rgba(255, 255, 255, 0.6);
  font-weight: 800;
  transform: translateY(-7px);
  letter-spacing: 1px;
}
.slide__discription .slide__user_name{
  opacity: 0;
  font-size: 20px;
}
.slide__image_box  .slide__image{
  width: 100%;
  height: 100%;
  transition: 0.5s ease all;
  object-fit: cover;
}
.slide:hover .slide__image_box .slide__image:nth-child(1){
 width: 100%;
 height: 90%;
 transition: 0.5s ease all;
}
.slide:hover .slide__image_box .slide__image:nth-child(2){
  width: 100%;
  height: 480px;
  transform: translateY(-30px);
}
.slide:hover .slide__footer p{
  opacity: 0;
}
.slide__footer--active{
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(10px);
  padding: 0rem 1rem;
}

.slide__footer--active .slide__user_name{
  font-size: 22px;
  line-height: 0;
}
.slide__footer--active .slide__discription_text{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;

  color: grey;
}
.slide__footer--active *{
  margin: 0;
  padding: 0;
  transform: scale(0.5);
  transition: 0.5s ease all;
}
.slide__footer--active .slide__user_name{
  opacity: 1;
}
.slide:hover .slide__footer--active{
  opacity: 1;
}
.slide:hover .slide__footer--active *{
  transform: scale(1);
}
.slide__body .slide__btn{
  z-index: 1;
}
.slide__btn{
  transition: 0.5s ease all;
}
.slide:hover .slide__btn{
  transform: translateY(-35px);
}
.carousel__title_box{
  margin-top: 2rem;
}
.carousel__title_box .popular__title{
  font-size: 30px;
}
.carousel__title_box *{
  margin: 0;
  padding: 0;
}
.carousel--active{
  padding: 1rem;
  background: linear-gradient(to bottom right,#fd0 0,#fd0 50%,transparent 0,transparent);
}
.main__shopping_btn{
  position: fixed;
  bottom: 1.4rem;
  right: 1.5rem;
  z-index: 222 !important;
  background: #fd0;
  padding: 0.8rem;
  font-size: 20px;
  border-radius: 50%;
  animation-name: shoppingBtnAnimation;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  outline: 15px solid rgba(255, 221, 0, 0.345);
}
.main__shopping_btn .shopping__count{
  position: absolute;
  top: 0;
  right: -0.5rem;
  background: red;
  padding: 0.1rem 0.3rem;
  transform: translateY(-10px);
  color: #fff;
  border-radius: 50%;
}
@keyframes shoppingBtnAnimation{
  from{
    outline: 15px solid rgba(255, 221, 0, 0.345) ;
  } 
  to{
    outline: 15px solid #ffffff29;
  }
}

.modal__overlay{
  @include functions.flex(center);
}
.modal__overlay .modal{
  width: 30%;
  @include functions.flex(center);
  align-items: flex-start;
}

.modal_login--active, .modal_login, .modal_register{
  padding: 0.5rem 2rem;
  padding-right: 0.5rem;
  width: 100%;
  height: auto;
  overflow: scroll;
  background: #fff;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  border-radius: 10px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent ;
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
.modal__overlay .modal *{
  z-index: 1 !important;
}
.modal__overlay .modal_login::before{
  content: " ";
  position: absolute;
  width: 100% ;
  height: 100%;
  background: #fd0;
  transform-origin: 0 0 ;
  z-index: -1 !important;
  transform: rotateZ(-35deg);
  top: -100px;
  left: -57%;
}
.modal__overlay .modal_login--active::before{
  content: " ";
  position: absolute;
  width: 100% ;
  height: 100%;
  background: #fd0;
  transform-origin: 0 0 ;
  z-index: -1 !important;
  transform: rotateZ(-41deg);
  top: -100px;
  left: -78%;
}
 .modal_register{
  height: 97vh;
}
.modal__overlay .modal_register::before{
  content: " ";
  position: absolute;
  width: 100% ;
  height: 100%;
  background: #fd0;
  transform-origin: 0 0 ;
  z-index: -1 !important;
  top: -490px;
  transform: rotateZ(-27deg);
  left: -85%;
}
.modal__body .modal__header{
  @include functions.flex(space-between);
}
.modal__header h3{
  font-size: 30px;
} 